$classPrefix: prmjslib;
$headerHeight: 70px;
$toolbarHeight: 50px;
$modalRadius: 6px;
$modalBackgroundColor: #f1f3f5;
$defaultBorderColor: #e0e6ed;
$wolfPrefix: wolf-table;
$selectedCellColor: #4b89ff;